.jumbotron{
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
}

img{
    width: 100%;
    height: 450px;
}

.col{
    margin: 1px;
}

.list-unstyled{
    margin: 15px;
}

.media-body{
  margin-left: 10px;
}

.card{
    width: 450px;
    height: 250px;
    margin: 10px;
}